# Renombra este archivo a .env (quita el .example)
# Completa con los valores de tu proyecto en Firebase Console
# → Configuración del proyecto → Tus apps → SDK de Firebase → Config

VITE_FIREBASE_API_KEY=AIzaSyDeimIXoEo_Uh5StkV0CF3jzzpDQKJSjwA
VITE_FIREBASE_AUTH_DOMAIN=proyectowebll.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=proyectowebll
VITE_FIREBASE_STORAGE_BUCKET=proyectowebll.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=550087202485
VITE_FIREBASE_APP_ID=1:550087202485:web:7e7b4a6756b36c5acf50fc